	@charset "EUC-KR";
	
	<style>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=Nanum+Pen+Script&display=swap"rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&display=swap"rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Poor+Story&family=Sunflower:wght@300&display=swap" rel="stylesheet">
  		.header{
  				z-index:2000;
  				width:1200px;
  				height:100px;
  				position:fixed;
  				background-color:black;
  			
  			}
  			
  			.backColor{
  				position:absolute;
  				top:0;
  				width:100%;
  				height:300px;
  				
  			}
  			.inner{
  				
  				position:relative;
  				z-index:2;
  				width:100%;
  				height:124px;
  				padding-left:70px;
  				margin:0 auto;
  				display:block;

  				box-sizing:border-box;
  				
  			}
  			
  			.inner>*{
  				float:left;
  				
  				
  			}
  			
  			.inner>a>img{
  				width:200px;
  				height:50px;
  				margin:40px 10px 0 0;
  			}
  			
  			
  			
  			.gnb-wrap{
  				height:30%;
  				width:70%;
  			
  			}
  			.gnb-wrap>ul{
  			
  				list-style-type:none;
  				padding:0;
  				margin:0;
  			}
  			
  			.gnb-wrap>ul>li{
  				float:left;
  				width:calc(100%/4);
  			}
  			
  			
  			.gnb-wrap>ul>li>a{
  					z-index:1000;
  				line-height: 90px;
  				text-decoration:none;
  				font-weight:bold;
  				font-size:20px;
  				color:black;
  				height:100px;
  				display:block;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Sunflower', sans-serif;
  				text-align:center;
  				margin:25px 50px 0 50px;
  			}
  			.gnb-wrap>ul>li:hover >a{
  				color:yellowgreen;
  				border-bottom:2px solid yellowgreen;
  			}
  			
  			
  			.gnb-wrap>ul:hover .sub-list{
  				
  			
  				display:block;
  			}
  		
  			.gnb-wrap>ul>li>a:hover {
  				
  				border-bottom:2px solid yellowgreen;
  			}
  			
  			.sub-list>li>a:hover{
  			
  				color:yellowgreen;
  			}
  			
  			.global-menu{
  				float:right;
  				margin-right:50px;
  			}
  			
  			.global-menu>li{
  				float:left;
  				list-style-type:none;
  				font-size:13px;
  				
  			}
  			
  			.global-menu>li>a{
  				text-decoration:none;
  				font-size:15px;
  				height:100px;
  				color:black;
  				display:block;
  				font-weight:bold;
  				margin-top:63px;
  				margin-left:30px;
  				
  			}
  			.sub-list{
  				line-height:46px;
  				margin-left:30px;
  				display:none;
  				height:200px;
  				padding-top:10px;
  				list-style-type:none;
  				text-align:center;
  				padding-right:40px;
  					
  				
  				
  			}
  			
  			
  			.sub-list>li>a{
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Sunflower', sans-serif;
  				font-weight:bold;
  				text-decoration:none;
  				color:black;
  				font-size:15px;
  				margin-left:20px;
  			}
  			
  		
  			
    </style>
    
 